:root {
  --weekdayColor: white;
  --selectDayColor: #006edc;
  --sideMonthColor: lightgrey;
  --weekendColor: #a2b3ea;
  --titleColor: #0077d6;
  --wordColor: white;
}
/* 0077d6
#006edc
cde6ff
*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --weekdayColor: rgb(141, 138, 138);
    --selectDayColor: #006edc;
    --sideMonthColor: rgb(78, 77, 77);
    --weekendColor: rgb(207, 15, 15);
    --titleColor: #1a1a1a;
    --wordColor: white;
      --weekdayColor: #cde6ff;
      --weekendColor: #a2b3ea;

        --weekdayColor: white;
  --selectDayColor: #006edc;
  --sideMonthColor: rgb(58, 77, 148);
  --weekendColor: #a2b3ea;
  --titleColor: #0077d6;
  --wordColor: white;
  }
} */
/* #3fbeff */



/* tr {
  height: 10px;
}

tr td {
   height: auto !important;
} */

/* .css-15wwp11-MuiTableHead-root {
  display: flex !important;
  justify-content: center;
} */

.container {
  margin-top: 5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: #242424;
  margin-bottom: 100px; */
}

.container button{
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: var(--wordColor);
  transition: transform 0.4s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.container button:hover {
  border-color: #646cff;
}

.container h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.workMealContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}
.wrapper {
  min-width: 396px;
  background-color: white;
}

.container h1 {
  text-align: center;
  align-content: center;
}

#summary {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#selectedWorkOutPlan {
  width: 40%;
}

#selectedMealPlan {
  width: 40%;
}

.react-calendar {
  background-color: #cde6ff;
  border: none;
  width: 65vmin;
  height: fit-content;
}

.planTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
svg:hover {
  color: brown;
}

.calorieCount {
  position:absolute;
  /* background-color: orange; */
  bottom: 5%;
  border-radius: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  width: 100%;
  color: darkblue;
}

.trainIcon {
  position: absolute;
  left: 10%;
  top: 10%;
}

@media (max-width: 768px) {
  .calorieCount {
    display: none;
  }
  .trainIcon {
    display: none;
  }
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view__days {
  height: 90%;
}

button.react-calendar__tile {
  height: 100%;
  border: 1px solid #b9c8f9;
}
button.react-calendar__tile > abbr{
  background-color: #0077d6;
  padding: 1%;
  border-radius: 5%;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  height: fit-content;
  position: relative;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  background-color: var(--weekdayColor);
}

.react-calendar {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 2px 3px 6px gray;
}

.react-calendar__viewContainer {
  height: 85%;
  /* border: 1px solid; */
}
.react-calendar__month-view > div {
  height: 100%;
  align-items: flex-start;
}
.react-calendar__month-view > div > div{
  height: 100%;
}

button.react-calendar__tile.react-calendar__month-view__days__day > abbr{
  position: absolute;
  right: 6%;
  border-radius: 20%;
  border: 1px solid;
  width: 3vh;
  top: 5%;
}

.whatever {
  height: 10vh !important;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  outline: none;
  /* position: relative; */
  border-radius: 0;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 10vh;
  background-color: var(--titleColor);
}

.react-calendar__navigation button {
  background: none;
  font-size: clamp(1vw, 3vw, 25px);
}

.react-calendar__navigation button:disabled {
  background-color: #1a1a1a;
}

.react-calendar__navigation button:enabled:hover {
  border: 1px solid blue;
}

.react-calendar__navigation__arrow {
  border-radius: 100px;
}

.react-calendar__navigation__arrow .react-calendar__navigation__next-button {
  border: 1px solid red;
}


.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  height: 5.3vh;
  margin: auto;
  background-color: var(--titleColor);
}

.react-calendar__month-view__weekdays__weekday {
  margin:auto;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #f3f3f3;
  background-color: var(--weekendColor) !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  /* color: var(--sideMonthColor) !important; */
  background-color: var(--sideMonthColor) !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  background-color: var(--weekdayColor);
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: rgba(229, 229, 229, 0.5);
}

/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--weekdayColor);
} */

.react-calendar__tile--now {
  background:rgb(255 247 128) !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: var(--selectDayColor) !important;
  color: white;
  transform: rotateY(180deg);
}

.react-calendar__tile--active > abbr {
  transform: rotateY(180deg);
  left: 8%;
}
.react-calendar__tile--active > div.calorieCount {
  transform: rotateY(180deg);
  left: 1%;
  bottom: 12%;
}
.react-calendar__tile--active > div.trainIcon {
  transform: rotateY(180deg);
  right: -50%;
}
/* .react-calendar__tile-flipped::before {
  background: var(--selectDayColor) !important;
  color: white;
  transform: rotateY(180deg);
}

.react-calendar__tile--active-flipped::after {
  transform: rotateY(180deg);
} */


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  outline: none !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}