/* .container {
  width: 80%;
  margin: 0 auto;
} */
h1 {
  text-align: center;
  align-content: center;
}
#summary {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#selectedWorkOutPlan {
  width: 40%;
}

#selectedMealPlan {
  width: 40%;
}

.react-calendar {
  background-color: #1a1a1a;
  border: none;
  margin: 0 auto;
  height: 65vmin;
  width: 65vmin;
}

.planTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
svg:hover {
  color: brown;
}

.calorieCount {
  position:absolute;
  /* background-color: orange; */
  bottom: 5%;
  border-radius: 30%;
  font-size: larger;
}

.trainIcon {
  position: absolute;
  left: 5%;
  top: 10%;
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__month-view__days {
  height: 90%;
}

button.react-calendar__tile {
  height: 100%;
  border-radius: 1vw;
  border: 1px solid black;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  height: fit-content;
  position: relative;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  border: 1px solid;

}

.react-calendar {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__viewContainer {
  height: 85%;
  border: 1px solid;
}
.react-calendar__month-view > div {
  height: 100%;
  align-items: flex-start;
}
.react-calendar__month-view > div > div{
  height: 100%;
}

button.react-calendar__tile.react-calendar__month-view__days__day > abbr{
  position: absolute;
  right: 5%;
  border-radius: 20%;
  border: 1px solid;
  width: 3vh;
  top: 5%;
}

.whatever {
  height: 20% !important;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  outline: none;
  border: 0;
  position: relative;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 15%;
  border: 1px solid;
}
.react-calendar__navigation button {
  background: none;
  font-size: clamp(1vw, 2vw, 32px);
}
.react-calendar__navigation button:disabled {
  background-color: #1a1a1a;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #1a1a1a;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  height: 10%;
  margin: auto;
}
.react-calendar__month-view__weekdays__weekday {
  margin:auto;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}