.heightBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heightText {
  font-size: 16px;
  color: #1976d2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 11px;
}